<h1><a href="http://cal5374.herokuapp.com/">Cal5374</a></h1>

<a href="http://5374.jp">5374.jp</a>で提供されているゴミ収集日をカレンダーのスケジュールに変換するサービスです。

<%= form_tag calendar_path, method: :get do %>
  <%= label_tag :url, "5374ウェブサイトのURL:" %>
  <%= url_field_tag :url, '', placeholder: '例: http://naha.5374.jp', required: true %>
  <%= submit_tag '5374ウィジェットを作成' %>
<% end %>
