<%= render 'refills/device' %>
<p class="note">
※現在、センターに対応しておりません。<br/>
ご不明な点や問題がございましたら<a href="https://github.com/CodeforOkinawa/cal5374/issues">GitHubのissueページ</a>でご報告くださると助かります。
<br/>
ソースコードは<a href="https://github.com/CodeforOkinawa/cal5374">CodeforOkinawa/cal5374</a>にて公開されております。
</p>
